<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://lero.ie/spl/fmprimitives.ecore" 
       class = "fr.inria.familiar.fmlero.fmprimitives.FmprimitivesPackage"
       genModel = "fr/inria/familiar/fmlero/Fmlero.genmodel" /> 
	
  </extension>




</plugin>
