<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="fr.unice.polytech.modalis.familiar.views.featureide.FamiliarRun"
            description="Execute a FAMILIAR script"
            id="FAMILIAR.Familiar"
            label="Excute FAMILIAR Script…"
            modes="run">
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="FAMILIAR.category1"
            class="fr.unice.polytech.modalis.familiar.views.featureide.VariableView"
            icon="icons/actions/help-about-2.ico"
            id="FAMILIAR.varView"
            name="%view.name"
            restorable="true">
      </view>
      <category
            id="FAMILIAR.category1"
            name="%category.name.0"
            parentCategory="FAMILIAR.category1">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="FAMILIAR.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="FAMILIAR.commands.category"
            id="FAMILIAR.commands.sampleCommand"
            name="%command.name">
      </command>
      <command
            categoryId="FAMILIAR.commands.category"
            id="FAMILIAR.mode.normal"
            name="%command.name.0">
         <defaultHandler
               class="fr.unice.polytech.modalis.familiar.handlers.NormalHandler">
            <parameter
                  name="FAMILIAR.parameter1"
                  value="FAMILIAR.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            categoryId="FAMILIAR.commands.category"
            id="FAMILIAR.mode.strict"
            name="%command.name.1">
         <defaultHandler
               class="fr.unice.polytech.modalis.familiar.handlers.StrictHandler">
            <parameter
                  name="FAMILIAR.parameter2"
                  value="FAMILIAR.parameter2">
            </parameter>
         </defaultHandler>
      </command>
      <command
            categoryId="FAMILIAR.commands.category"
            id="FAMILIAR.mode.warning"
            name="%command.name.2">
         <defaultHandler
               class="fr.unice.polytech.modalis.familiar.handlers.WarningHandler">
            <parameter
                  name="FAMILIAR.parameter3"
                  value="FAMILIAR.parameter3">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.unice.polytech.modalis.familiar.handlers.TopLevelHandler"
            commandId="FAMILIAR.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="FAMILIAR.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="FAMILIAR.menus.sampleMenu"
               label="FAMILIAR"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="FAMILIAR.commands.sampleCommand"
                  id="FAMILIAR.menus.sampleCommand"
                  mnemonic="%command.mnemonic">
            </command>
            <menu
                  id="familiar.mode"
                  label="%menu.label.0">
               <command
                     commandId="FAMILIAR.mode.normal"
                     label="%command.label"
                     style="push">
               </command>
               <command
                     commandId="FAMILIAR.mode.strict"
                     label="%command.label.0"
                     style="push">
               </command>
               <command
                     commandId="FAMILIAR.mode.warning"
                     label="%command.label.1"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="FAMILIAR.toolbars.sampleToolbar">
            <command
                  commandId="FAMILIAR.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="FAMILIAR.toolbars.sampleCommand"
                  tooltip="%command.tooltip">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.unice.polytech.modalis.familiar.gui.featureide.FMConfigurationEditor"
            default="false"
            filenames="*.equation"
            id="FAMILIAR.FMConfigurationEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="familiar.preferences.FamiliarPreferencePage"
            class="fr.unice.polytech.modalis.familiar.views.featureide.FamiliarPreferencesPage"
            id="FAMILIAR.preference"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="FAMILIAR"
            name="Sample Wizards">
      </category>
      <wizard
            category="FAMILIAR"
            class="familiar.wizards.SampleNewWizard"
            icon="icons/sample.gif"
            id="familiar.wizards.SampleNewWizard"
            name="FAMILIAR script">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="FAMILIAR.contribution1"
            nameFilter="*.fml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="FAMILIAR.menu1"
               label="FAMILIAR"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="familiar.popup.actions.NewAction"
               enablesFor="1"
               id="FAMILIAR.newAction"
               label="Execute fml..."
               menubarPath="FAMILIAR.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
